.posts {
  height: 100%;
  width: 100%;
}

.posts__Grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 100%;
  text-align: center;
}

.singlePost {
  border: 1px solid lightgray;
  padding-left: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.singlePost:hover {
  background-color: lightgray;
}

.singlePost:not(.post:first-child) {
  margin-top: 8px;
}

.PostDetails {
  border: 1px solid lightgray;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  height: 250px;
}
